@use "../base/_colors" as *;

.Header {
  position: relative;
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $main;
    color: $background;
    padding: 10px;
    height: 150px;
    background: url("img/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: top;
    background-color: $main;
    img {
      height: 4rem;
      transform: translateY(-15px);
    }
    form.d-flex{
      display: flex;
      align-items: center;
      width: 50%;
      max-width: 400px;
      position: static;
      button.btn.btn-outline-success {
        color: $background;
        background-color: $main;
        border: 1px solid $background;
        &:hover {
          background-color: $action;
        }
      }
    }
  }
  .gradient {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, $main 10%, rgba(0,0,0,0) 56%);
    height: 50px;
    width: 100%;
  }
}