@use "../base/_colors.scss" as *;
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/hero.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 1rem;
    transition: height 0.5s ease-in-out;
    
    form.d-flex {
        width: 100%;
        max-width: 600px;
        margin: 0 1rem;
        input {
            border: 1px solid $main;
            border-radius: 5px;
        &:focus {
            box-shadow: none;
            border: 1px solid $action;
        }
        }
    }
}

.filter-btn {
    margin-bottom: 0.5rem;
    margin: 1rem;
    margin-top: 0;
}
.main-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 1rem;
    .accordion-item{
        min-width: 100px;
        margin: 0.5rem 0;
        .accordion-header button {
                padding-right: 0.5rem;
                border: 1px solid $gray;
                &:focus {
                    box-shadow: none;
                    border: 1px solid $main;
                    background-color: transparent;

                }
            }
            .accordion-collapse {
                border: 1px solid $gray;
                padding: 0.5rem;
                 button {
                    width: 100%;
                    padding: 0.2rem 0;
                    text-align: start;
                    border: none;
                    background-color: transparent;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        background-color: rgba($main, 0.2);
                    }
                } 
            }
        }
    

    .recipes-list {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
        text-align: center;
        gap: 1.5rem;
        li {
            border: 1px solid $gray;
            .recipe-item {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                span {
                    padding: 2rem 0;
                }
            }
            &:hover {
                border: 1px solid $main;
            }
        }
    }
}

@media (min-width: 768px) { 
    .filter-btn {
        display: none;
    }
    .main-container {
        grid-template-columns: 1fr 6fr;
        .categories {
            margin: 0;
        }
        .recipes-list {
            padding-left: 1rem
        }
    }
}
