@use "../base/_colors.scss" as *;
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-image: url("img/hero.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 1rem;
    form.d-flex {
        width: 100%;
        max-width: 600px;
        input:focus {
            box-shadow: none;
            border: 1px solid $main;
        }
        button {
            background-color: $action;
            border: none;
            color: #fff;
            &:hover {
                background-color: rgba($action, 0.9);
            }
        }
    }
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
.categories{
    margin-top: 4rem;
    .categories-list {
        padding: 0.5rem;
        li button {
            padding: 0.2rem;
            text-align: center;
            border: none;
            background-color: transparent;
            &:hover {
                cursor: pointer;
            }
        }
        
    }
}

    
    .recipes-list {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
        text-align: center;
        gap: 1.5rem;
        li {
            border: 1px solid $gray;
            .recipe-item {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                span {
                    padding: 2rem 0;
                }
            }
        }
    }
}
