@use "../base/_colors.scss" as *;

nav.navbar.bg-body-tertiary {
  padding: 0;
  div.container-fluid {
    border-bottom: 1px solid $main;
    padding: 10px 20px;
    background-color: $background;
    .nav-link, .navbar-toggler, .navbar-toggler-icon {
      color: $main;
    }
    button.navbar-toggler {
      margin-left: auto;
      border: 1px solid $main;
    }
    div.collapse.navbar-collapse {
      transition: 0.3s ease;
      ul li {
        margin-right: 40px;
        position: relative;
        max-width: fit-content;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 2px;
          width: 0;
          height: 2px; 
          background-color: $main;
          transition: width 0.3s ease;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
    
  }
}