@use "../base/_colors" as *;
.RecipePage {
    margin: 1rem;
    .ingredients-container {
        /* border: 1px solid $main;
        max-width: 300px;
        margin: 0 auto; */
        // background-color: $main;
        // color: $background;
        .ingredients {
            padding: 1rem;
            margin-right: 1rem;
            .ingredients-btn {
                position: fixed;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                //left: 5px;
            }
            h3 {
               display: none;

            }
            ul {
                display: none;
                li {
                    list-style-type: disc;
                    list-style-position: inside;
                }
            }
        }
    }
    .modal-content {
        border: 1px solid $main;
        .modal-header {
            border-bottom: 1px solid $main;
            button {
                width: 40px;
            }
        }
    }
    .instructions {
        padding: 1rem;
        
        h3 {
            text-align: center;
        }
        img {
            width: 90%;
            max-width: 500px;
            margin: 0 auto;
            display: block;
            border: 1px solid $main;
        }
        div {
            margin: 1rem 0;
            p {
                text-transform: lowercase;
                
            }

        }
    }
}

@media (min-width: 768px) {
    .RecipePage {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 1.5rem;
        h1 {
            grid-column: span 2;
        }
        .ingredients-container {
            border: 1px solid $main;
            max-width: 300px;
            margin: 0 auto; 
            padding-top: 0;
            height: 100%;
            width: 300px;
            .ingredients {
                float: left;
                position: fixed;
                .ingredients-btn {
                    display: none;
                }
                ul {
                    display: block;
                }
                h3 {
                    text-align: center;
                    display: block;
                }
            }
        }
        .instructions {
            border: 1px solid $main;
        }
    }
}